{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container block">
    <div class="row">
        <!-----Empty div----->
        <div class="col-md-3"></div>
        <div class="col-md-6 form">
            <form action="{% url 'pic_upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-success btn-sm" value="POST">
            </form>
        </div>
        <!-----Empty div----->
        <div class="col-md-3"></div>
    </div>
</div>
{{form.media}}
{% endblock %}
