{% extends 'base.html' %}

{% block content %}
{{ form.media }}
<div class="container block">
    <div class="row">
        <div class="col-md-12">
            <div class="row prof-section">
                    <div class="col-md-6 prof-image-section rounded" ">
                    {% if profile_details.profile_image %}
                    <img src="{{profile.profile_imageurl}}" alt="profile photo">
                    {% else %}
                    <img src="/static/img/placeholder.jpg" alt="no-profile-photo" width="200px" height="200px" style="border-radius:50%">
                    {% endif %}
                </div>
                <div class="col-md-6 profile-user">
                    <ul class="list-inline">
                        <li class="list inline template-item">
                            <div class="prof-name">
                                {{ profile.username }}
                            </div>
                        </li>
                        <br>
                        <br>
                        {% if profile.username == user.username %}
                        <li class="list-inline template-item">
                            <a href="{% url 'profile_edit' %}">Edit Profile</a>
                        </li>
                        <li class="list-inline template-item">
                            <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog"></i></a>
                        </li>
                        {% else %}
                        <li class="list-inline template-item">
                            <a href="#" class="btn btn-primary">Follow</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline template-item">
                            <span class="font-weight-bold">{{images|length}} </span> Posts
                        </li>
                        <br>
                        <li class="list-inline template-item">
                            <span class="font-weight-bold">0 </span> Followers
                        </li>
                        <br>
                        <li class="list-inline template-item">
                            <span class="font-weight-bold">0 </span> Following
                        </li>
                    </ul>
                    br
                    <p>{{profile_details.bio|safe}}</p>
                    {% if profile.username == user.username %}
                    <p><a href="{% url 'pic_upload' %}">Upload Image</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row profile-images">
        {% for img in images %}
        <div class="col-md-4 photos">
            <img src="{{img.photo.cdn_url}}" alt="photo">
        </div>
        {% empty %}
        <div class="col-md-12">
            <h2>Uploaded Photos</h2>
        </div>
        {% endfor %}
    </div>




    {% for photo in photos %}
    <div class="col-md-4 photos">
        <img src="{{photo.photo.cdn_url}}" alt="photo">
    </div>
    {% empty %}
    <div class="col-md-12">
        <h2>Uploaded Photos</h2>
    </div>
    {% endfor %}
    </div>








</div>
<div>
    <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
</div>
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item text-center"><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
                    <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
                    <li class="list-group-item text-center"><a data-dismiss="modal">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}