<div id='nav-container'>
    <div id='navbar'>
        <div id='left'>
            <a href='/'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Instagram_simple_icon.svg/2000px-Instagram_simple_icon.svg.png'
                    id='logo-icon'></a>
            <a href='/'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png'
                    id='logo-name'></a>
        </div> <!-- end div left -->
        <div id='center'>
            <!-- <input id="input-field" type="text" placeholder='Search' style="text-align: center"> -->
            <form class="navbar-form navbar-left" action="{% url 'profile_search'%}">
                <div class="form-group">
                    <input id="input-field" type="text" placeholder='search' style="text-align: center" name="search">
                </div> <!-- end div center -->
            </form>
        </div>
        <div id='right'>
            <a class="mr-2" href="{% url 'profile' user %}"><img src='http://freeiconbox.com/icon/256/23228.png' class='nav-icon'></a>
            <a class="mr-2" href="#"><img src='http://image.flaticon.com/icons/png/128/126/126471.png' class='nav-icon'></a>
            <a class="mr-2" href="{% url 'profile_edit' %}"><img src='https://static.thenounproject.com/png/169707-200.png' class='nav-icon'></a>
            <a href="{% url 'profile' username=user %}">{{user}}</a>
        </div> <!-- end div right -->
    </div> <!-- end div navbar -->
</div> <!-- end div nav-container -->





