{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block head_favicon %}
    <link rel="icon" type="image/jpg" href="/static/img/logo.png">
    {% endblock head_favicon %}

    {% if title %}
    <title>{{title}}</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
    {% endblock %}

    

</head>

<body>
    {% block content %}

    {% endblock %}

</body>

</html>